<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalii Angajat</title>
</head>
<body>
    {% include "meniu.html" %}
    <h1>Detalii Angajat</h1>
    <p><strong>Nume:</strong> {{ angajat.nume }}</p>
    <p><strong>Prenume:</strong> {{ angajat.prenume }}</p>
    <p><strong>Email:</strong> {{ angajat.email }}</p>
    <p><strong>Telefon:</strong> +40{{ angajat.nr_telefon }}</p>
    <p><strong>Salariu:</strong> {{ angajat.salariu }}</p>
    <p><strong>Comision:</strong> {{ angajat.comision }}</p>
    <p><strong>Data angajarii:</strong> {{ angajat.data_angajarii }}</p>
    <p><strong>Id sef:</strong> {{ angajat.id_sef }}</p>
    <p><strong>Cinema:</strong> <a href="{% url 'cinema_detail' angajat.cinema.id %}">{{ angajat.cinema.nume_cinema }}</a></p>
    <a href="{% url 'lista_angajati' %}">Inapoi la lista angajatilor</a>
</body>
</html>
