<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Operatii</title>
</head>
<body>
    <ul>
        {% for elem in lista %}
            <li>
                {% if elem.operatie == "suma" %}
                    {{ elem.a }} + {{ elem.b }} = {{ elem.rezultat }}
                {% elif elem.operatie == "diferenta" %}
                    {{ elem.a }} - {{ elem.b }} = {{ elem.rezultat }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
